<% if(!strip){%><div class=left><%}%>
<% for (var result of data.results) { %>
  <div><a target= "_blank" href='<%-result.url%>'>
    <img loading="lazy" height="16" height="wdith" src="<%-result.favicons.low_res%>"/><h6><%-result.url%></h6><br><br>
    <h1><%=result.title%></h1></a>
    <span><%-result.description%></span>
    <br>
    <br>
    <% if(result.sitelinks){%>
      <div class=extra>
      <% for (var extra of result.sitelinks) { %>
        <div>
          <a target= "_blank" href='<%-extra.link%>'><h3><%=extra.title%></h3></a>
          <span><%-extra.snippet%></span>
        </div>
      <%}%>
      </div>
      <%}%>
  </div>
<%} %>
<% if(!strip){%>
</div>
<%}%>
<% if(!strip){%>
  <div class=right>
  <%if(data.knowledge_panel){%>
    <div>
      <a target= "_blank" href='<%- data.knowledge_panel.url%>'>
        <img src="<% "" %>"/>
        <h1><%= data.knowledge_panel.title%></h1></a>
      <br>
      <span><%= data.knowledge_panel.description %></span>
      <br>
      <% for (var MetadataItem of data.knowledge_panel.metadata) { %>
          <hr>
          <div><b><%=MetadataItem.title%></b> <%= MetadataItem.value%></div>
      <%}%>
    </div>
  <%}%>
<%}%>