<% for (var result of data.organic_results) { %>
  <div>
    <a href='<%-result.link%>'><h1><%=result.title%></h1></a><br>
    <span><%-result.snippet%></span>
    <% if(result.sitelinks){%>
      <% for (var extra of result.sitelinks) { %>
      <div class=extra>
        <a href='<%-extra.link%>'><h3><%=extra.title%></h3></a><br>
        <span><%-extra.snippet%></span>
      </div>
      <%}%>
      <%}%>
  </div>
<%} %>
